{% extends 'base.html' %}


{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'natureShareApp/home_style.css' %}">
<script type="text/javascript" src="{% static 'natureShareApp/home.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>The app natureShare is an app where users can upload images of organisms they discover in nature to share with others. Image and name are mandatory but other fields are optional</p>
    <p>This app was built with Python, Javascript, Django, Vue.js, and cusom built CSS.</p>
    <p>Please have fun, please keep the content uploaded pertininent to organisms discovered on your adventures.</p>
</body>
</html>
{% endblock %} 