{% extends 'base.html' %}


{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'natureShareApp/home_style.css' %}">
<script type="text/javascript" src="{% static 'natureShareApp/home.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!DOCTYPE html> 
<html lang="en"> 
<head>
    <meta charset="UTF-8"> 
    <title>natureShare</title> 
</head> 
{% if request.user.is_authenticated %}
<h4>Welcome to natureShare, {{request.user}}</h4>
<body> 
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        {{form.media}}
        
        <button type="submit">Upload</button> 
    </form> 
    <form id='ecosystemInfo'>
        <h4>Information About Ecosystems</h4>
        <button type='button' onclick="temperateForest()">Temperate Forest</button>
        <button type='button' onclick="tropicalRainforest()">Tropical Rainforest</button>
        <button type='button' onclick="desert()">Desert</button>
        <button type='button' onclick="grassland()">Grassland</button>
        <button type='button' onclick="taiga()">Taiga</button>
        <button type='button' onclick="tundra()">Tundra</button>
        <button type='button' onclick="chaparral()">chaparral</button>
        <button type='button' onclick="ocean()">ocean</button>
    </form> 
    
<form action="{% url 'search_results' %}" method="get">
    <h4>Search by Ecosystem Type</h4>
    <input name="q" type="text" placeholder="Search by ecosystem type">
</form>
{% else %}
<p style='text-align: center;'>Please log in or register to use natureShare</p>
{% endif %}

</html> 

{% endblock %}