{% extends 'base.html' %}


{% block content %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="{% static 'natureShareApp/home.js' %}"></script>
{% if request.user.is_authenticated %}
<section class="hero">
  <h2>Welcome to natureShare, {{ request.user }}</h2>
  <p>Share your finds and pin them on the map.</p>
</section>
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        {{ form.media }}

        
        <button type="submit">Upload</button> 
    </form>
    <form id='ecosystemInfo'>
        <h4>Information About Ecosystems</h4>
        <button class='ecosystemButton' type='button' onclick="temperateForest()">Temperate Forest</button>
        <button class='ecosystemButton' type='button' onclick="tropicalRainforest()">Tropical Rainforest</button>
        <button class='ecosystemButton' type='button' onclick="desert()">Desert</button>
        <button class='ecosystemButton' type='button' onclick="grassland()">Grassland</button>
        <button class='ecosystemButton' type='button' onclick="taiga()">Taiga</button>
        <button class='ecosystemButton' type='button' onclick="tundra()">Tundra</button>
        <button class='ecosystemButton' type='button' onclick="chaparral()">chaparral</button>
        <button class='ecosystemButton' type='button' onclick="ocean()">ocean</button>
    </form> 
    
<form action="{% url 'search_results' %}" method="get">
    <h4>Search by Ecosystem Type</h4>
    <input name="q" type="text" placeholder="Search by ecosystem type">
</form>
{% else %}
<p style='text-align: center;'>Please log in or register to use natureShare</p>
{% endif %}

{% endblock %}
