{% extends 'base.html' %}


{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'natureShareApp/home_style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!DOCTYPE html> 
<html lang="en"> 
<head>
    <meta charset="UTF-8"> 
    <title>natureShare</title> 
</head> 
{% if request.user.is_authenticated %}
<h4>Welcome to natureShare, {{request.user}}</h4>
<body> 
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        {{form.media}}
        
        <button type="submit">Upload</button> 
    </form> 
</body> 
<form action="{% url 'search_results' %}" method="get">
    <input name="q" type="text" placeholder="Search by ecosystem type">
</form>
{% else %}
<p style='text-align: center;'>Please log in or register to use natureShare</p>
{% endif %}

</html> 

{% endblock %}