{% extends 'base.html' %}

{% block content %}
{% load static %}

<h1>Organism Images</h1>

<div class="grid auto">
    {% for organism in organism_images %}
        <div class="card">
            <a href="{% url 'organism-detail' organism.id %}"><strong>{{ organism.name }}</strong></a><br>
            <img src="{{ organism.picture.url }}" alt="{{ organism.name }}" />
        </div>
    {% endfor %}
</div>

<!-- https://www.geeksforgeeks.org/python-uploading-images-in-django/ -->
{% endblock %}
