{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'natureShareApp/images_style.css' %}">

<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Organism Images</title> 
  
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
     
</head> 
<body> 
  
    {% for organism in organism_images %} 
            <div> 
                <a href="{% url 'organism-detail' organism.id %}">{{ organism.name }} </a><br>
                <img src="{{ organism.picture.url }}" alt="{{ organism.name }}" /> 
            </div> 
    {% endfor %} 
  
</body> 
</html>

<!-- https://www.geeksforgeeks.org/python-uploading-images-in-django/ -->
{% endblock %}
