{% extends 'base.html' %}


{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'natureShareApp/organism_update.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!DOCTYPE html> 
<html lang="en"> 
<head>
    <meta charset="UTF-8"> 
    <title>natureShare</title> 

</head> 
<body>
    <section>
        <div id = 'app'>
            <h1>Current Details for {{ organism.name }}</h1>
            <img src="{{ organism.picture.url }}" /> 
            <p>edible: {{ organism.edibility }}</p>
            <p>ecosystem: {{ organism.ecosystem }}</p>
            <p>weather: {{ organism.weather }}</p>
            <p>date: {{ organism.date }}</p>
            
            <p>Latitude and Longitude: {{ organism.location }}</p>
        </div>
    </section>
    <form method="post" id='form'>
        {% csrf_token %}
        <h1>Update Your Organism</h1>
        {{ form.as_p }}
        {{form.media}}  
        <input type="submit" value="Update" id='update_button'>
    </form>
</body>
<!-- api call using vue -->
<script> 
    // converting from django to js
    organismEcosystem = '{{organism.ecosystem}}'
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            ecosystem_summary: '',
            weather_summary: '',
            
        },
        mounted:  async function(event){
            if (organismEcosystem != 'None' && organismEcosystem != 'Unknown' && organismEcosystem != 'Other'){
                let response = await axios.get('https://en.wikipedia.org/api/rest_v1/page/summary/{{organism.ecosystem}}');
                this.ecosystem_summary = response.data.extract;
            }
            let weather_response = await axios.get('https://en.wikipedia.org/api/rest_v1/page/summary/{{organism.weather}}');
            this.weather_summary = weather_response.data.extract;
        },
    })
</script>
{% endblock %}