{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- REFERENCES -->
<!-- https://developers.google.com/maps/documentation/javascript/adding-a-google-map#all -->
<!-- Manipulating script tag to use django secret key -->
<!-- https://www.geeksforgeeks.org/how-to-insert-a-javascript-variable-inside-href-attribute/ -->

<script>
    let GOOGLE_API_KEY='{{GOOGLE_API_KEY}}'
</script>
<script> 
    var loc = `https://maps.googleapis.com/maps/api/js?key=${GOOGLE_API_KEY}&callback=initMap&libraries=&v=weekly`; 
    document.write('<script src="' + loc + '"><\/script>'); 
</script> 
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- script to make manipulate coordinates so they work with google maps -->
<script>
    // converting from django to js
    coordinates = '{{organism.location}}'
    // splitting the coordinates at tha appostrophe
    var partsOfStr = coordinates.split(',');
    // converting lat and lon to integers
    lat = parseInt(parseFloat(partsOfStr[0]))
    lon = parseInt(parseFloat(partsOfStr[1]))
    // concatenating lat/lon and making them both 6 digits long
    cleanCoordinates = lat.toFixed(6) + ',' + lon.toFixed(6)
    // from google map docs
    function initialize(){
        var myLatlng = new google.maps.LatLng(lat,lon);
        var myOptions = {
            zoom: 10,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            }
        map = new google.maps.Map(document.getElementById("map"), myOptions);
        var marker = new google.maps.Marker({
            position: myLatlng, 
            map: map,
        title:"Fast marker"
        });
    } 
    google.maps.event.addDomListener(window,'load', initialize);
</script>

<link rel="stylesheet" type="text/css" href="{% static 'natureShareApp/organism_detail.css' %}">

<section>
<div id = 'app'>

    <h1>{{ organism.name }}</h1>
    <img src="{{ organism.picture.url }}" /> 

    {% if organism.edibility != None %}
        <p>edible: {{ organism.edibility }}</p>
    {% endif %}

    {% if organism.ecosystem != None %}
        <p>ecosystem: {{ organism.ecosystem }}</p>
        <p>[[ ecosystem_summary ]]</p>
    {% endif %}

    {% if organism.weather != None %}
        <p>weather: {{ organism.weather }}</p>
    {% endif %}

    <p>date: {{ organism.date }}</p>
    
    {% if organism.location != '' %}
        <p>Latitude and Longitude: {{ organism.location }}</p>
    {% endif %}

    <p>Uploaded by {{organism.user}} </p>

    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{organism.name}} {% url 'organism-detail' organism.id %}" data-size="large">
        Share Your Organism to Twitter
    </a>
    {% if user == organism.user %}
        <a href="{% url 'edit' organism.id  %}">Edit Organism</a><br>
        <a href="{% url 'delete' organism.id  %}">Delete Organism</a>
    {% endif %}
    

</div>
</section>

{% if organism.location != '' %}
<div id="map">
</div>
{% endif %}



<script> 
    organismEcosystem = '{{organism.ecosystem}}'
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            ecosystem_summary: '',
            weather_summary: '',
            
        },
        mounted:  async function(event){
            if (organismEcosystem != 'None' && organismEcosystem != 'Unknown' && organismEcosystem != 'Other'){
                let response = await axios.get('https://en.wikipedia.org/api/rest_v1/page/summary/{{organism.ecosystem}}');
                this.ecosystem_summary = response.data.extract;
            }
            let weather_response = await axios.get('https://en.wikipedia.org/api/rest_v1/page/summary/{{organism.weather}}');
            this.weather_summary = weather_response.data.extract;
        },
    })
</script>


{% endblock %}


