<title>natureShare</title>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    
    <style>
        header {font-family: 'Abril Fatface', cursive;}
        body    {font-family: 'Montserrat', sans-serif;} 
    </style>
</head>
<body>
    <header>
        natureShare
    </header>
    
    <nav>
        {% if request.user.is_authenticated %}
            <a href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/organism_images">Organism Images</a>
            <a href="http://127.0.0.1:8000/accounts/logout">Logout</a>
            <a href="http://127.0.0.1:8000/user_organisms">My Organisms</a>
        {% else %}
            <a href="http://127.0.0.1:8000/accounts/login">Login</a> 
            <a href="http://127.0.0.1:8000/accounts/">Register</a>
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <a href="https://www.linkedin.com/in/jessepena4/">LinkedIn</a>
        <a href="https://github.com/jpchato">GitHub</a>
        <a href="https://twitter.com/jpchato">Twitter</a>
    </footer>
</body>
