/* path 'natureShareApp/images_style.css' */

html {
    background-color: #19270d;
    color: #818c3c;
}

img {
    height: 100px;
    width: 100px;
}

header{
    text-align: center;
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    text-shadow: 2px 2px 2px rgb(42, 116, 52);
}

nav {
    text-align: center;
}

footer{
    text-align: center;
}

a {
    color: #72601b;
}

#app {
    text-align: center;
    border: solid 1px #72601b;
    width: 500px;
    margin: auto;
    margin-top: 5px;
}

h1 {
    text-align: center;
}

form {
    /* text-align: center;
    margin-top: 20px; */
    text-align: center;
    border: solid 1px #72601b;
    width: 500px;
    margin: auto;
    
}

#map {
    height: 400px;
    text-align: center;
    width: 25%;
    margin: auto;
    margin-top: 20px;
}

#update_button {
    margin-bottom: 10px;
}