/* path 'natureShareApp/images_style.css' */
@media only screen and (min-width: 768px) {
    html {
        background-color: #19270d;
        color: #818c3c;
    }
    
    img {
        height: 100px;
        width: 100px;
    }
    
    header{
        text-align: center;
        font-size: 50px;
        font-family: 'Abril Fatface', cursive;
        text-shadow: 2px 2px 2px rgb(42, 116, 52);
    }
    
    nav {
        text-align: center;
    }
    
    footer{
        text-align: center;
    }
    
    a {
        color: #72601b;
        margin-left: 12px;
    }
    
    #app {
        text-align: center;
        border: solid 2px #72601b;
        border-radius: 5px;
        width: 500px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    h1 {
        text-align: center;
    }
    
    form {
        text-align: center;
        border: solid 2px #72601b;
        width: 500px;
        margin: auto;
        border-radius: 5px;
        margin-bottom: 20px;
        
    }
    
    #map {
        height: 400px;
        text-align: center;
        width: 25%;
        margin: auto;
        margin-top: 20px;
    }
    
    #update_button {
        margin-bottom: 10px;
    }}
    
    @media only screen and (max-width: 767px) {
        html{
            background-color: black;
            color: white;
        }
        a {
            color: yellow;
        }
        nav a {
            display: block;
        }
        header {
            text-align: center;
            font-size: xx-large;
        }
        nav {
            text-align: center;
        }
        form {
            display: block;
            border: solid 1px yellow;
            max-width: 100%;
        }
        footer {
            text-align: center;
        }
        footer a{
            display: block;
        }
        #map_location {
            max-width: 100%;
        }
        img {
            width: 100%;
            max-width: 300px;
            height: auto;
        }
        #app {
            border: 1px solid yellow;
            max-width: 100%;
            text-align: center;
            margin-top: 10px;
        }
        #map {
            height: 400px;
            text-align: center;
            max-width: 100%;
            margin: auto;
            margin-top: 20px;
        }
    }